.App {
  text-align: center;
  font-family: 'Itim', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header, footer {
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.udacity-logo {
  max-height: 80px;
  padding-top: 5px;
}

.contact-info {
  margin-right: 50px;
  text-align: center;
}

.fa-github, .fa-envelope, .fa-linkedin {
  margin-left: 50px;
  margin-right: 2px;
}

.my-photo {
  border-radius: 40%/50%;
  height: 130px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dialogue {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.me {
  border-radius: 0px 20px 10px 10px;
  background: rgb(216, 242, 242);
}

.user {
  border-radius: 20px 0px 10px 10px;
  background: rgb(189, 227, 179);
  text-align: right;
}

.text-container {
  width: 100%;
}

@media screen and (min-width: 406px) {
  .contact-info {
    margin-right: 0;
  }
  .fa-linkedin {
    margin-left: 0;
  }
  .fa-github, .fa-envelope {
    margin-left: 20px;
  }
}
