.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header, footer {
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#name {
  font-size: 2em;
}

#titles{
  font-size: 1.5em;
}

.udacity-logo {
  max-height: 80px;
  padding-top: 5px;
}

.contact-info {
  margin-right: 50px;
  text-align: center;
}

.fa-github, .fa-envelope, .fa-linkedin {
  margin-left: 50px;
  margin-right: 2px;
}

.my-photo {
  border-radius: 40%/50%;
  height: 130px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dialogue {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.me {
  padding: 5px;
  border-radius: 0px 17px 10px 10px;
  background: rgb(216, 242, 242);
  margin-right: auto;
  text-align: left;
  width: fit-content;
}

.user {
  border-radius: 17px 0px 10px 10px;
  background: rgb(189, 227, 179);
  padding: 5px;
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

.text-container {
  width: 100%;
}

.project-container {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.project-container > p {
  text-align: left;
  padding-left: 5px;
}

.project-container > p > em {
  text-decoration: underline;
}

.project-link:link {
  color: coral;
}

.project-link:hover {
  font-weight: bold;
}

.project-link:visited {
  color: rgb(162, 87, 45);
}

.dialogue-button {
  margin-left: 2px;
  margin-right: 2px;
  color: blue;
  background: white;
  border: 1px solid blue;
  border-radius: 10px;
}

footer {
  margin-bottom: 5px;
}

.skillList {
  text-align: left;
}

.project-thumb {
  max-width: 100%;
}

@media screen and (min-width: 406px) {
  .contact-info {
    margin-right: 0;
  }
  .fa-linkedin {
    margin-left: 0;
  }
  .fa-github, .fa-envelope {
    margin-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  #dialogue {
    width: 70%;
  }
  /*.project-container {
    width: 70%;
  }*/
}

@media screen and (min-width: 750px) {
  #dialogue {
    width: 60%;
  }
  #name {
    font-size: 2.3em;
  }
  #titles{
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.3em;
  }
  #all-projects {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #all-projects > .project-container {
    width: 48%;
  }
}

@media screen and (min-width: 900px) {
  #all-projects {
    width: 85%;
  }
  #all-projects > .project-container {
    width: 31%;
  }
}

@media screen and (min-width: 1000px) {
  #dialogue {
    width: 50%;
  }
  header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .udacity-logo {
    width: 100px;
    margin-top: 40px;
    margin-right: 10%;
  }
  .header-container {
    float: right;
    /* padding-left: 50px; */
    width: calc(50%-100px);
  }
}

@media screen and (min-width: 1200px) {
  .App {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
